
.section1{
      display: flex;
      justify-content:flex-start;
      
      color: black;
      font-weight: bold;
  
      .logo{
        margin:50px;
      }
  
      .login{
          display:flex;
          align-self:flex-end;
          margin-left: auto;
          margin-right: 20%;
          margin-bottom:85px ;
          background-color:white;
          border: 2px solid $dark-blue;
          border-radius: 7px;
  
          .login-button{
              background-color:white;
              border: none;
              font-weight: bold;
              font-size: 1.5em;  
              border-radius: 5px;
              padding: 20px;
              padding-left: 45px;
              padding-right: 45px;            
          }
      }       
      }
  
      .section2{
        font-size: 1.5em;
       
        h1{
          font-size: 2em;
        }
      }
  
  
  main{
      
      width: 85%;
      height: auto;
      margin: 35px auto;
      justify-content: center;
      align-items: center;
      text-align: center;
      color:aquamarine;
      padding-top: 5px;
  
      
  
        .grid_container{
          display: grid;
          grid-template-columns: auto auto;
          align-items: center;
          justify-content: center;
          margin: auto;
          padding: 3%;
          text-align: left;
      
        }
        .grid-item {
          background-color: rgba(255, 255, 255, 0.8);
          padding: 20px;
          font-size: 1.5em;
          text-align: center;
        }  
  
        .grid-item-right {
          background-color: rgba(255, 255, 255, 0.8);
          padding: 20px;
          font-size: 2em;
          text-align: right;
        }  
  
        .text{
          display:inline;
        }
        .bold{
          font-weight: bold;
          display:inline;
        }
  
        .thin-italic{
          font-style: italic;
          display:inline;
        }
  
        .button{
          background-color:RGB(60, 65, 110);
          color: white;
          border-radius: 5px;
          padding: 15px;
          padding-left: 75px;
          padding-right: 75px;
          margin-bottom: 10%;
          margin-top: 25px;
          font-weight: bold;
          font-size: 1.2em;
      }
      }
  
      footer{
        background-color:RGB(255, 252, 221);
        
        .footer-container{
            display:flex;
            flex-direction: column;
            align-items: center;
            margin-top: 100px;
    
            .footer-link{
                text-decoration: none;
                color:RGB(60, 65, 110);
            }
        }
      }
  
