.dark-blue {
  color: RGB(60, 65, 110);
  font-family: "Lato", sans-serif;
}

.light-blue {
  color: RGB(35, 185, 250);
  font-family: "Lato", sans-serif;
}

* .section1 {
  display: flex;
  justify-content: flex-start;
  color: black;
  font-weight: bold;
}
* .section1 .login {
  display: flex;
  align-self: flex-end;
  margin-left: auto;
  margin-right: 6%;
  background-color: white;
  border: 2px solid RGB(60, 65, 110);
}
* .section1 .login .login-button {
  background-color: white;
  border: none;
  font-weight: bold;
  font-size: 2em;
}
* .section2 .grid_container {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 3%;
  text-align: left;
}
* .section2 .grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 2em;
  text-align: center;
}
* .section2 .text {
  display: inline;
}