
$app-font: "Lato", sans-serif;
$dark-blue: RGB(60, 65, 110);
$light-blue:RGB(35, 185, 250);



.dark-blue{
    color:$dark-blue;
    font-family: $app-font;
}

.light-blue{
    color:$light-blue;
    font-family: $app-font;
}



* {
  .section1{
    display: flex;
    justify-content:flex-start;
    
    color: black;
    font-weight: bold;

    .login{
        display:flex;
        align-self:flex-end;
        margin-left: auto;
        margin-right: 6%;
        background-color:white;
        border: 2px solid $dark-blue;

        .login-button{
            background-color:white;
            border: none;
            font-weight: bold;
            font-size: 2em;    
        }
    }       
    }


main{
    
    width: 85%;
    height: auto;
    margin: 35px auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:aquamarine;

      .grid_container{
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        justify-content: center;
        margin: auto;
        padding: 3%;
        text-align: left;
    
      }
      .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        font-size: 1.5em;
        text-align: center;
      }  

      .grid-item-right {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        font-size: 2em;
        text-align: right;
      }  

      .text{
        display:inline;
      }
      .bold{
        font-weight: bold;
        display:inline;
      }

      .thin-italic{
        font-style: italic;
        display:inline;
      }
    }

}